vm_name        = "ubuntu_24.04-wrk-02"
guest_hostname = "ubuntu-24-04-wrk-02"
vm_cpu         = 6
vm_memory_mb   = 12288

# Hard disk 1: OS, 200 GiB, thin provisioned.
vm_disk_mb               = 204800
vm_disk_thin_provisioned = true

# Hard disk 2: data, 500 GiB, thick provisioned.
vm_data_disk_mb               = 512000
vm_data_disk_thin_provisioned = false
